@model G13WebApplication.Models.Ata

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="h3-custom">Editar</h2>
<hr />
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Atas" asp-action="Edit" enctype="multipart/form-data">
                <input type="hidden" asp-for="AtaId" />
                <div class="form-group">
                    <label for="data" class="control-label"></label>
                    <input name="data" type="date" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="fil" class="control-label" style="margin-left:-1%"></label>
                    <input name="fil" type="file" accept=".pdf" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
