@model G13WebApplication.Models.TO

@{
    ViewData["Title"] = "Perfil";
}


<head>
    <link rel="stylesheet" href="~/css/varios.css" />
</head>
<div class="container h-50">
    <h2 class="h3-custom">Perfil Pessoal</h2>
    <hr />
    <div class="row h-100">
        <div class="col-5">
            <div class="card-body text-center h-75">
                <img src="~/UsersImages/@ViewBag.Image" name="profilePhoto" class="rounded-circle" width="150" height="150">
                <br />
                <br />
                <br />
                @using (Html.BeginForm("UpdatePhoto", "TOs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="photo" class="file" accept="image/x-png,image/gif,image/jpeg">
                    <input class="btn btn-primary mb-2 btncustom" type="submit" id="btnUpload" value="Adicionar" />
                }
            </div>
        </div>
        <div class="col">
            <div class="card-body card-custom2 h-75">
                <br />
                <h5>@Model.FirstName @Model.LastName</h5>
                <br />
                <h5>@Model.Email</h5>
                <br />
                <h5>Empresa: @ViewBag.Company</h5>
                <br />
            </div>
        </div>
    </div>
</div>
