
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/varios.css" />
</head>
<body>
    <div class="container login-container">
        <div class="row justify-content-center text-center">
            <div class="col-md-6 tfctype_form rounded" style="margin-top:2%">
                <div class="card-body">
                    <h4 class="card-title"> Escolha o tipo de utilizador a criar:</h4>
                    @using (Html.BeginForm("CreateTypeOfUser", "Teachers"))
                    {
                        <div class="custom-control custom-radio">
                            @Html.RadioButton("UserType", "Student") <span>Estudante</span>
                        </div>
                        <div class="custom-control custom-radio" style="margin-top:1%">
                            @Html.RadioButton("UserType", "Teacher") <span>Professor</span>
                        </div>
                        <div class="custom-control custom-radio" style="margin-top:1%">
                            @Html.RadioButton("UserType", "TO") <span>Tutor-Orientador</span>
                        </div>
                        <br />
                        <button id="subUser" type="submit" class="btn btn-primary btn-white-custom" style="margin-top:1%">Escolher</button>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
