@model IEnumerable<G13WebApplication.Models.User>
@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "SearchMyStudents";
}

<head>
    <link rel="stylesheet" href="~/css/varios.css" />
</head>

<h2 class="h3-custom">Meus Alunos Orientados</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form class="form-inline ml-auto" asp-controller="Teachers" asp-action="SearchMyStudents" method="get">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="text" placeholder="Email" name="SearchString" aria-label="Search">
                    <input class="btn btn-primary mb-2 btncustom" type="submit" value="Filtrar" />
                </div>
            </form>
            @Html.ActionLink("Remover Filtro", "SearchMyStudents", "Teachers", null, new { @class = "btn btn-link" })
        </div>
    </div>
    @if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value == "RUC")
    {
        <div class="row" style="margin-top: 2%; margin-left: 1.4%">
            <form method="post" asp-controller="Home" asp-action="ImportUpload" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-auto">
                        <!--<input type="file" id="reportfile" name="reportfile" class="file" />-->
                        <input type="file" class="custom-file-input" id="reportfile" name="reportfile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        <label class="custom-file-label" for="reportfile">Lista de Alunos (excel)</label>
                    </div>
                    <div class="col-md-auto">
                        <input class="btn btn-primary mb-2 btncustom" type="submit" id="btnUpload" value="Adicionar" />
                    </div>
                </div>
            </form>
        </div>
    }
    <table class="table text-center" style="margin-top:2%">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Número de estudante
                </th>
                <th>
                    ID de Docente
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherId)
                    </td>
                    <td>
                        @if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value == "RUC")
                        {
                            Html.ActionLink("Remover", "Delete", "Users", new { id = item.UserId }, new { @class = "btn btn-link" });
                        }
                        |@Html.ActionLink("Perfil", "OtherProfile", "Users", new { id = item.UserId }, new { @class = "btn btn-link" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
